
*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    color:black ;
}
a{
    color: #4df241;
    font-weight: bolder;
    text-decoration: none;

}
h1{
    font-size: 16px;
    font-weight: bolder;
}
/*home.html*/
.container{
    margin: 20px;
    padding: 20px;
    
}
